<div class="main-container">
  <header *ngIf="headerInfo" class="header">
    <div class="header-left-container">
      <div class="header-left-info">
        <img
          class="header-left-image"
          src="../../assets/images/logo.png"
          alt="logo" />

        <p class="header-left-paragraph">
          {{
            currentLanguage === 'Eng'
              ? headerInfo?.descriptionEng
              : headerInfo?.description
          }}
        </p>

        <div class="header-left-btn-container">
          <p>
            {{
              currentLanguage === 'Eng'
                ? 'Look up for more information here:'
                : 'დამატებითი ინფორმაციისთვის გადმოწერეთ'
            }}
          </p>

          <button>
            {{ currentLanguage === 'Eng' ? 'Download PDF' : 'გადმოწერეთ PDF' }}
          </button>
        </div>
      </div>
    </div>

    <div
      [ngStyle]="{
        'background-image':
          'url(' + headerInfo.images[activeHeaderImageIndex] + ')'
      }"
      class="header-right-container">
      <div class="header-right-info">
        <button class="header-right-learn-more-btn">
          {{ currentLanguage === 'Eng' ? 'Learn More' : 'გაიგე მეტი' }}
        </button>

        <div class="icons"></div>

        <select
          (change)="changeCurrentLanguage($event)"
          name="language"
          id="language">
          <option value="Eng">Eng</option>
          <option value="Geo">Geo</option>
        </select>
      </div>

      <div class="header-right-slider-container">
        <div class="header-right-images-container">
          <span
            (click)="slideHeaderImages('back')"
            class="material-symbols-outlined">
            arrow_back_ios
          </span>
          <div *ngFor="let image of headerInfo?.images; let i = index">
            <img
              (click)="activeHeaderImageIndex = i"
              [ngClass]="{
                'header-slider-image-border': i === activeHeaderImageIndex
              }"
              [src]="image"
              alt="building" />
          </div>
          <span
            (click)="slideHeaderImages('forward')"
            class="material-symbols-outlined">
            arrow_forward_ios
          </span>
        </div>
      </div>
    </div>
  </header>

  <header *ngIf="headerInfo" class="mobile-header">
    <div class="mobile-header-logo-icons">
      <div></div>
      <div class="mobile-logo">
        <div>
          <img
            class="mobile-logo-image"
            src="../../assets/images/logo.png"
            alt="logo" />
        </div>
      </div>
      <div>
        <select
          class="mobile-select-language"
          (change)="changeCurrentLanguage($event)"
          name="language"
          id="language">
          <option value="Eng">Eng</option>
          <option value="Geo">Geo</option>
        </select>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div
      [ngStyle]="{
        'background-image':
          'url(' + headerInfo.images[activeHeaderImageIndex] + ')'
      }"
      class="mobile-image-container">
      <div class="mobile-header-slider-dots-container">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="mobile-header-description-container">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry
      </p>

      <button>
        {{ currentLanguage === 'Eng' ? 'Download PDF' : 'გადმოწერეთ PDF' }}
      </button>
    </div>
  </header>

  <div class="company-logos-slider">
    <div class="logos-container">
      <span scrollLeft class="material-symbols-outlined company-logos-back">
        arrow_back_ios
      </span>

      <a *ngFor="let logo of companyLogos" href="#">
        <img class="logo" [src]="logo.imageSrc" alt="" />
      </a>

      <span scrollRight class="material-symbols-outlined company-logos-forward">
        arrow_forward_ios
      </span>
    </div>
  </div>

  <main *ngIf="sections" class="main">
    <section
      *ngFor="let section of sections; let i = index"
      class="section"
      [ngClass]="{ 'section-top-margin': i > 0 }">
      <h1 class="section-title">
        {{ currentLanguage === 'Eng' ? section.nameEng : section.name }}
      </h1>
      <div
        [ngStyle]="{
          'background-image':
            'url(' + section.images[activeSectionImageIndex] + ')'
        }"
        class="section-info-container">
        <span
          (click)="slideSectionImages('back', section)"
          class="material-symbols-outlined slider-arrow-back">
          arrow_back_ios
        </span>
        <span
          (click)="slideSectionImages('forward', section)"
          class="material-symbols-outlined slider-arrow-forward">
          arrow_forward_ios
        </span>

        <div class="section-description-header-container">
          <h1>
            {{ currentLanguage === 'Eng' ? section.titleEng : section.title }}
          </h1>
          <div class="section-slider-dots-container">
            <div
              [ngClass]="{ 'opacity-1': j === activeSectionImageIndex }"
              *ngFor="let image of section.images; let j = index"></div>
          </div>
          <button>Learn More</button>
        </div>

        <div class="section-description-form-container">
          <div class="section-description">
            <h4>
              {{
                currentLanguage === 'Eng' ? section.countryEng : section.country
              }}
              | {{ currentLanguage === 'Eng' ? section.cityEng : section.city }}
            </h4>

            <p>
              {{
                currentLanguage === 'Eng'
                  ? section?.descriptionEng
                  : section?.description
              }}
            </p>
          </div>

          <div class="section-form-container">
            <h4>Send contacts</h4>

            <div class="section-form">
              <form class="form" [formGroup]="form">
                <input
                  type="text"
                  placeholder="Fullname"
                  formControlName="name" />
                <input
                  type="text"
                  placeholder="Country"
                  formControlName="address" />
                <input
                  type="text"
                  placeholder="+995555467844"
                  formControlName="phone" />
                <input
                  type="text"
                  placeholder="person@gmail.com"
                  formControlName="email" />
              </form>
            </div>

            <button class="send-btn" (click)="onSubmit(section.id)">
              {{ currentLanguage === 'Eng' ? 'Send' : 'გაგზავნა' }}
            </button>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer-address-mail-container">
      <div>
        <p>
          71 Vazha-Pshavela Ave. Tbilisi 0186, Georgia. Redix Business Center
        </p>
        <span>|</span>
        <p>Info@propertygeorgia.ge</p>
      </div>
    </div>

    <div class="copyright">
      <p>Copyrights © 2022 All Rights Reserved by Property Georgia.</p>
    </div>
  </footer>
</div>
