<div class="main-container">
  <!-- Desctop Header -->
  <header *ngIf="headerInfo" class="header">
    <div class="header-left-container">
      <div class="header-left">
        <img
          class="header-left-image"
          src="../../assets/images/logo.png"
          alt="logo" />

        <p class="header-left-paragraph">
          {{ headerInfo.description }}
        </p>

        <div class="header-left-download-btn-container">
          <p>
            {{
              currentLanguage === 'eng'
                ? 'Look up for more information here:'
                : 'დამატებითი ინფორმაციისთვის გადმოწერეთ'
            }}
          </p>

          <a
            class="header-left-download-btn"
            href="/{{ headerInfo.files[0] }}"
            target="_blank"
            download="/{{ headerInfo.files[0] }}">
            <img src="../../assets/images/download.png" alt="" />
            {{ currentLanguage === 'eng' ? 'Download Catalog' : 'კატალოგის გადმოწერა' }}
          </a>
        </div>
      </div>
    </div>

    <div
      [ngStyle]="{
        'background-image':
          'url(' + headerInfo.images[activeHeaderImageIndex] + ')'
      }"
      class="header-right-container">
      <div class="header-right">
        <!-- <button class="header-right-learn-more-btn">
          {{ currentLanguage === 'eng' ? 'Learn More' : 'გაიგე მეტი' }}
        </button> -->

        <div class="icons">
          <a href="https://www.facebook.com/PropertyGeorgia">
            <img src="../../assets/images/facebook.png" alt="facebook" />
          </a>
          <a href="https://www.youtube.com/channel/UCL_WMGJp8kEqXqYvoaL12DQ">
            <img src="../../assets/images/youtube.png" alt="youtube" />
          </a>
          <a
            href="https://twitter.com/propertygeorgia?fbclid=IwAR0Ud5UMFJZqn_nc6_N70LvQRFch647I39_HYWtzbq1DAbgTC9-yGkTH5Wg">
            <img src="../../assets/images/twitter.png" alt="twitter" />
          </a>
          <a href="https://www.linkedin.com/company/property-georgia/">
            <img src="../../assets/images/linkedin.png" alt="linkedin" />
          </a>
        </div>

        <select
          (change)="changeCurrentLanguage($event)"
          class="header-right-select-language"
          name="language">
          <option [selected]="currentLanguage === 'eng'" value="eng">Eng</option>
          <option [selected]="currentLanguage === 'geo'" value="geo">Geo</option>
        </select>
      </div>

      <div class="header-right-slider-container">
        <div class="header-right-images-container">
          <span
            (click)="slideHeaderImages('back')"
            class="material-symbols-outlined">
            arrow_back_ios
          </span>
          <div *ngFor="let image of headerInfo?.images; let i = index">
            <img
              (click)="activeHeaderImageIndex = i"
              [ngClass]="{
                'header-slider-image-border': i === activeHeaderImageIndex
              }"
              [src]="image"
              alt="building" />
          </div>
          <span
            (click)="slideHeaderImages('forward')"
            class="material-symbols-outlined">
            arrow_forward_ios
          </span>
        </div>
      </div>
    </div>
  </header>

  <!-- Mobile Header -->
  <header *ngIf="headerInfo" class="mobile-header">
    <div class="mobile-header-logo-icons">
      <div></div>
      <div class="mobile-logo">
        <div>
          <img
            class="mobile-logo-image"
            src="../../assets/images/logo.png"
            alt="logo" />
        </div>
      </div>
      <div>
        <select
          class="mobile-select-language"
          (change)="changeCurrentLanguage($event)"
          name="language">
          <option [selected]="currentLanguage === 'eng'" value="eng">Eng</option>
          <option [selected]="currentLanguage === 'geo'" value="geo">Geo</option>
        </select>
      </div>
      <div></div>
      <div></div>
      <div class="mobile-header-social-links">
        <a href="https://www.facebook.com/PropertyGeorgia">
          <img src="../../assets/images/facebook.png" alt="facebook" />
        </a>
      </div>
      <div class="mobile-header-social-links">
        <a href="https://www.youtube.com/channel/UCL_WMGJp8kEqXqYvoaL12DQ">
          <img src="../../assets/images/youtube.png" alt="youtube" />
        </a>
      </div>
      <div class="mobile-header-social-links">
        <a
          href="https://twitter.com/propertygeorgia?fbclid=IwAR0Ud5UMFJZqn_nc6_N70LvQRFch647I39_HYWtzbq1DAbgTC9-yGkTH5Wg">
          <img src="../../assets/images/twitter.png" alt="twitter" />
        </a>
      </div>
      <div class="mobile-header-social-links">
        <a href="https://www.linkedin.com/company/property-georgia/">
          <img src="../../assets/images/linkedin.png" alt="linkedin" />
        </a>
      </div>
      <div></div>
    </div>

    <div class="mobile-image-container">
      <div class="mobile-header-image-slider">
        <div
          class="mobile-header-image-container"
          *ngFor="let image of headerInfo.images">
          <img class="mobile-header-image" [src]="image" alt="" />
        </div>
      </div>
    </div>

    <div class="mobile-header-description-container">
      <p>
        {{ headerInfo.description }}
      </p>

      <a
        class="header-left-download-btn"
        href="/{{ headerInfo.files[0] }}"
        target="_blank"
        download="/{{ headerInfo.files[0] }}">
        <img src="../../assets/images/download.png" alt="" />
        {{ currentLanguage === 'eng' ? 'Download Catalog' : 'კატალოგის გადმოწერა' }}
      </a>
<!--      <button>-->
<!--        <img src="../../assets/images/download.png" alt="" />-->
<!--        {{ currentLanguage === 'eng' ? 'Download Catalog' : 'კატალოგის გადმოწერა' }}-->
<!--      </button>-->
    </div>
  </header>

  <!-- Company Logos Slider -->
  <div class="company-logos-slider">
    <div class="logos-container">
      <span scrollLeft class="material-symbols-outlined company-logos-back">
        arrow_back_ios
      </span>

      <a *ngFor="let logo of companyLogos" href="{{ logo.link }}">
        <img class="logo" [src]="logo.image" alt="" />
      </a>

      <span scrollRight class="material-symbols-outlined company-logos-forward">
        arrow_forward_ios
      </span>
    </div>
  </div>

<!--  Mobile Company Logos slider -->
  <div class="mobile-company-logos-slider-container">
    <div class="mobile-company-logos-slider">
      <a *ngFor="let logo of companyLogos" href="{{ logo.link }}">
        <img class="mobile-company-logos-img" [src]="logo.image" alt="logo">
      </a>
    </div>
  </div>

  <!-- Sections -->
  <main *ngIf="sections" class="main">
    <section
      *ngFor="let section of sections; let i = index"
      class="section"
      [ngClass]="{ 'section-top-margin': i > 0 }">
      <h1 class="section-title">
        {{ section.name }}
      </h1>
      <div
        #sectionRef
        [ngStyle]="{
          'background-image': 'url(' + section.images[0] + ')'
        }"
        class="section-info-container">
        <span
          (click)="slideSectionImages(sectionRef, 'back', section)"
          class="material-symbols-outlined slider-arrow-back">
          arrow_back_ios
        </span>
        <span
          (click)="slideSectionImages(sectionRef, 'forward', section)"
          class="material-symbols-outlined slider-arrow-forward">
          arrow_forward_ios
        </span>

        <div class="section-description-header-container">
          <h1>
            {{ section.title }}
          </h1>
          <div class="section-slider-dots-container">
            <div
              [ngClass]="{
                'opacity-1': j === 0 && activeSectionImageIndex === 0
              }"
              *ngFor="let image of section.images; let j = index"></div>
          </div>
          <a
            class="section-description-header-learn-more-btn"
            href="{{ section.file }}"
            target="_blank"
            download="{{ section.file }}">
            <img src="../../assets/images/download.png" alt="" />
            {{ currentLanguage === 'eng' ? 'Learn More' : 'გაიგე მეტი' }}
          </a>
        </div>

        <div class="section-description-form-container">
          <div class="section-description">
            <div class="section-description-location">
              <img src="../../assets/images/location.png" alt="" />
              <h4>
                {{ section.country }}
                | {{ section.city }}
              </h4>
            </div>

            <p>
              {{ section?.description }}
            </p>
          </div>

          <div class="section-form-container">
            <div class="section-form-header">
              <img src="../../assets/images/contacts.png" alt="" />
              <h4>
                {{
                  currentLanguage === 'eng'
                    ? 'Register your interest'
                    : 'დატოვეთ საკონტაქტო ინფორმაცია'
                }}
              </h4>
            </div>

            <div class="section-form">
              <form *ngIf="form" class="form" [formGroup]="form">
                <input
                  type="text"
                  placeholder="{{
                    currentLanguage === 'eng' ? 'Fullname' : 'სახელი'
                  }}"
                  formControlName="name" />
                <input
                  type="text"
                  placeholder="{{
                    currentLanguage === 'eng' ? 'Country' : 'ქვეყანა'
                  }}"
                  formControlName="address" />
                <input
                  type="text"
                  placeholder="+995555467844"
                  formControlName="phone" />
                <input
                  type="text"
                  placeholder="person@gmail.com"
                  formControlName="email" />
              </form>
            </div>

            <button class="send-btn" (click)="onSubmit(section)">
              {{ currentLanguage === 'eng' ? 'Send' : 'გაგზავნა' }}
            </button>
          </div>
        </div>
      </div>
    </section>

    <section *ngFor="let section of sections; let i = index;" class="section-mobile">
      <div class="section-mobile-slider-container">
        <div class="section-mobile-slider">
          <div class="section-mobile-slider-header">
            <h1>{{ section.name }}</h1>
            <span>
              <a
                href="{{ section.file }}"
                target="_blank"
                download="{{ section.file }}">
                <span class="material-symbols-outlined"> file_download </span>
              </a>
            </span>
          </div>


          <span class="material-symbols-outlined mobile-section-slider-arrow-back">arrow_back_ios</span>
          <span class="material-symbols-outlined mobile-section-slider-arrow-forward">arrow_forward_ios</span>


          <div
            *ngFor="let image of section.images"
            class="section-mobile-image-container">
            <img class="section-mobile-image" [src]="image" alt="" />
          </div>
        </div>
      </div>

      <div #extendMobileInfo class="section-mobile-info">
        <div class="section-mobile-info-location-description-container">
          <div class="section-mobile-location">
            <img src="../../assets/images/location.png" alt="" />
            <span>{{ section.city }} | {{ section.country }}</span>
          </div>
          <p>
            {{
              section.isMobileDescriptionExtended
                ? section.description
                : (section.description | truncate: 80)
            }}
          </p>
        </div>

        <button
          (click)="extendCollapseSectionInfo(extendMobileInfo, i)"
          class="section-mobile-info-extend-btn">
          <span *ngIf="!section.isMobileDescriptionExtended" class="material-symbols-outlined">
            keyboard_arrow_down
          </span>
          <span *ngIf="section.isMobileDescriptionExtended" class="material-symbols-outlined">
            keyboard_arrow_up
          </span>
        </button>
      </div>

      <div #extendMobileform class="section-mobile-form-container">
        <div class="section-mobile-send-contacts">
          <div class="section-mobile-send-contact-icon">
            <img src="../../assets/images/contacts.png" alt="" />
            <span>Register your interest</span>
          </div>
        </div>

        <form
          *ngIf="form"
          class="form"
          [formGroup]="form"
          class="section-mobile-form">
          <input
            type="text"
            placeholder="{{
              currentLanguage === 'eng' ? 'Fullname' : 'სახელი'
            }}"
            formControlName="name" />
          <input
            type="text"
            placeholder="{{
              currentLanguage === 'eng' ? 'Country' : 'ქვეყანა'
            }}"
            formControlName="address" />
          <input
            type="text"
            placeholder="+995555467844"
            formControlName="phone" />
          <input
            type="text"
            placeholder="person@gmail.com"
            formControlName="email" />
        </form>
      </div>
      <button
        *ngIf="!section.isMobileFormExtended"
        class="section-mobile-send-form-extend-btn"
        (click)="extendCollapseForm(extendMobileform, i)">
        <span class="material-symbols-outlined"> keyboard_arrow_down </span>
      </button>

      <button
        (click)="onSubmit(section, extendMobileform)"
        class="section-mobile-send-form-btn"
        *ngIf="section.isMobileFormExtended">
        Send
      </button>
    </section>
  </main>

  <footer class="footer">
    <div class="footer-address-mail-container">
      <div class="footer-address-mail">
        <img src="../../assets/images/location.png" alt="" />
        <p>
          71 Vazha-Pshavela Ave. Tbilisi 0186, Georgia. Redix Business Center
        </p>
        <span>|</span>
        <img src="../../assets/images/mail.png" alt="" />
        <p>Info@propertygeorgia.ge</p>
      </div>
    </div>

    <div class="copyright">
      <p>Copyrights © 2022 All Rights Reserved by Property Georgia.</p>
    </div>
  </footer>

  <footer class="footer-mobile">
    <div class="footer-mobile-address-mail-container">
      <div class="footer-mobile-address">
        <img src="../../assets/images/location.png" alt="" />
        <p>
          71 Vazha-Pshavela Ave. Tbilisi 0186, Georgia. Redix Business Center
        </p>
      </div>
      <div class="footer-mobile-mail">
        <img src="../../assets/images/mail.png" alt="" />
        <p>Info@propertygeorgia.ge</p>
      </div>
    </div>
    <div class="footer-mobile-copyright">
      <p>Copyrights © 2022 All Rights Reserved by Property Georgia.</p>
    </div>
  </footer>
</div>
