// Main container
.main-container {
  width: 100%;
  height: 100%;
}

// Header
.header {
  display: flex;

  width: 100%;
  height: 841px;
}

.header-logo-and-social-media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
}

// Left Header
.header-left-container {
  width: 50.41%;

  background-image: linear-gradient(
    135deg,
    rgb(76, 77, 79) 0%,
    rgb(5, 8, 14) 100%
  );
}

.header-left {
  margin-left: 18%;
  margin-top: 62px;
}

.header-left-image {
  width: 50%;
  height: 61.4px;

  object-fit: contain;
}

.header-left-paragraph {
  width: 76.44%;
  height: 192px;

  margin-top: 200px;
  color: #fff;
  font-size: 200%;
  font-weight: bold;
  line-height: 50px;
}

.header-left-download-btn-container {
  display: flex;
  align-items: center;
  margin-top: 195px;

  p {
    width: 27.58%;
    font-size: 120%;
    color: rgb(167, 167, 167);
  }
}

.header-left-download-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;

  width: 34.7%;
  height: 72px;

  margin-left: 11%;
  font-size: 15px;

  color: #fff;
  font-weight: 600;

  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;

  background-image: linear-gradient(
    180deg,
    rgb(210, 171, 101) 0%,
    rgb(139, 98, 23) 72%,
    rgb(141, 100, 27) 100%
  );
}

// Right Header
.header-right-container {
  width: 49.59%;
  height: 100%;

  background-color: hsla(0, 0%, 0%, 0.502);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-top: 76.3px;
  padding-left: 50px;
  padding-right: 50px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 30%;

  a {
    text-decoration: none;
    color: #fff;
  }

  img {
    width: 22px;
    height: 22px;

    color: #fff;
    filter: brightness(0) invert(1);
  }
}

.header-right-select-language {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;

  background-color: transparent;

  option {
    color: #000;
  }
}

// .header-right-learn-more-btn {
//   width: 157.4px;
//   height: 54px;

//   backdrop-filter: blur(18px);
//   background: rgba(0, 0, 0, 0.4);
//   opacity: 0.9;
//   color: white;
//   font-size: 14px;
//   font-weight: bold;
//   border-radius: 5px;
//   border: none;
//   outline: none;
//   cursor: pointer;
// }

.header-right-slider-container {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 80px;
  margin-top: 610px;
}

.header-right-images-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  span {
    color: rgba(255, 255, 255, 0.8);
    scale: 100;
    cursor: pointer;
    transition: ease 0.3s all;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  img {
    width: 149px;
    height: 80px;

    border-radius: 8px;
    cursor: pointer;
  }
}

// Companies Logos slider
.company-logos-slider {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100%;
  height: 221px;

  margin-top: 26px;

  span {
    position: absolute;
    color: rgb(167, 166, 166);
  }
}

.company-logos-back {
  left: 100px;
  cursor: pointer;
}

.company-logos-forward {
  right: 100px;
  cursor: pointer;
}

.logos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 71.8%;
  height: 221px;

  overflow-x: hidden;
  scroll-behavior: smooth;

  img {
    height: 100px;
    object-fit: contain;
  }
}

.logo {
  width: 200px;
  height: 150px;

  object-fit: cover;
  margin: 0 5px;
}

// Main
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.section {
  width: 85.41%;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
}

// Section Info Container
.section-info-container {
  position: relative;
  width: 100%;
  height: 551px;

  background-color: #0000004d;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 8px;

  .slider-arrow-back {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: scale(1.5);
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
  }

  .slider-arrow-forward {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: scale(1.5);
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
  }
}

// Section Description Header
.section-description-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);

  width: 71%;
  height: 40px;

  h1 {
    font-weight: bold;
    font-size: 34px;
    color: #fff;
  }
}

.section-description-header-learn-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 17%;
  height: 54px;

  text-decoration: none;
  background-color: #00000066;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;

  img {
    margin-right: 10px;
  }
}

.section-slider-dots-container {
  display: flex;
  justify-content: space-between;

  width: 17%;

  div {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

// Section Description
.section-description-form-container {
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 71%;
  height: 260px;
}

.section-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 49%;
  height: 260px;

  border-radius: 8px;

  background-color: #ffffffe6;
  box-shadow: 0 14px 28px 0 rgba(57, 57, 57, 0.18);

  p {
    white-space: pre-wrap;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3%;

    font-size: 12px;

    color: #747474;
  }
}

.section-description-location {
  display: flex;
  align-items: center;

  margin-left: 4%;
  margin-top: 3%;

  h4 {
    font-weight: bold;
    font-size: 16px;

    margin: 0;

    color: #747474;
  }

  img {
    width: 14px;
    height: 14px;

    margin-top: 1px;
    margin-right: 5px;
  }
}

.section-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;

  width: 49%;
  height: 260px;

  background-color: #ffffffe6;
  box-shadow: 0 14px 28px 0 rgba(57, 57, 57, 0.18);

  border-radius: 8px;
}

.section-form-header {
  display: flex;
  align-items: center;

  margin-left: 4%;
  margin-top: 3%;

  h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    color: #747474;
  }

  img {
    width: 14px;
    height: 14px;

    margin-top: 1px;
    margin-right: 5px;
  }
}

.section-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 92%;
  font-size: 14px;

  color: #747474;

  margin-top: 8%;
  margin-left: 4%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  input {
    width: 48%;
    height: 47px;
    padding-left: 3px;
    margin-top: 5px;

    background-color: #fff;
    outline: none;

    border: solid 1px #e8ebfa;
    border-radius: 8px;

    &:focus {
      border: solid 1px #c1caf9;
    }
  }
}

.send-btn {
  position: absolute;
  top: 100%;
  left: 65%;

  transform: translateY(-50%);

  width: 30%;
  height: 40px;
  color: #fff;

  font-weight: bold;

  border: none;
  border-radius: 8px;
  outline: none;

  cursor: pointer;

  background-image: linear-gradient(
    180deg,
    rgb(210, 171, 101) 0%,
    rgb(139, 98, 23) 72%,
    rgb(141, 100, 27) 100%
  );
  box-shadow: 1px 11px 19px 0 rgba(88, 64, 20, 0.34);
}

// Footer
.footer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 178px;

  margin-top: 200px;
}

.footer-address-mail-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 103px;

  background-image: linear-gradient(
    90deg,
    rgb(76, 77, 79) 0%,
    rgb(97, 97, 97) 9%,
    rgb(29, 29, 29) 71%,
    rgb(5, 8, 14) 100%
  );
}

.footer-address-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;

  color: #bababa;

  p {
    margin: 0;
    font-size: 14px;
  }

  img {
    width: 14px;
    height: 12px;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 75px;

  background-color: #000;

  color: #a7a7a7;
  font-size: 16px;
}

.footer-mobile {
  display: none;
}

// ================================================================================== //

// General Calsses
.header-slider-image-border {
  border: 2px solid #ffffff4f;
}

.section-top-margin {
  margin-top: 200px;
}

.opacity-1 {
  background-color: rgba(255, 255, 255, 1) !important;
}

// ================================================================================== //

// Mobile Design

// Header
.mobile-header {
  display: none;
  width: 100%;
  height: 569px;
}

.mobile-header-logo-icons {
  width: 100%;
  height: 104px;

  display: grid;

  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 50% 50%;

  background-image: linear-gradient(
    135deg,
    rgb(76, 77, 79) 0%,
    rgb(5, 8, 14) 100%
  );

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #5c5c5c8f;
  }
}

.mobile-logo {
  grid-column: 2 / 5;

  div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border: none;
  }
}

.mobile-logo-image {
  width: 89px;
  height: 28.6px;
}

.mobile-select-language {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-weight: bold;

  option {
    color: #000;
    font-weight: bold;
  }
}

// Header Image
.mobile-image-container {
  width: 100%;
  height: 296px;

  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.mobile-image-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.mobile-header-image-slider {
  width: 400%;

  display: flex;
  height: 296px;
}

.mobile-header-image-container {
  width: 100%;
  height: 296px;
  border-radius: 8px;
}

.mobile-header-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  scroll-snap-align: start;
}

.mobile-header-left-download-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;

  width: 34.7%;
  height: 50px;

  font-size: 12px;
  margin-top: 15px;

  color: #fff;
  font-weight: 600;

  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;

  background-image: linear-gradient(
      180deg,
      rgb(210, 171, 101) 0%,
      rgb(139, 98, 23) 72%,
      rgb(141, 100, 27) 100%
  );
}

.mobile-header-slider-dots-container {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;

  width: 156px;
  height: 13px;

  div {
    width: 13px;
    height: 13px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.mobile-header-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 169px;

  background-color: #000;

  p {
    width: 252px;
    height: 61px;

    font-size: 16px;
    font-weight: bold;
    line-height: 21px;

    color: #fff;
    text-align: center;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 192px;
    height: 45px;

    margin-top: 20px;

    font-size: 11px;

    color: #fff;
    font-weight: bold;

    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;

    background-image: linear-gradient(
      180deg,
      rgb(210, 171, 101) 0%,
      rgb(139, 98, 23) 72%,
      rgb(141, 100, 27) 100%
    );
  }
}

.section-mobile {
  display: none;
}


//Mobile Company Logos Slider
.mobile-company-logos-slider-container {
  display: none;

  width: 90%;
  height: 80px;

  margin: 40px 5%;

  overflow: hidden;
}

.mobile-company-logos-slider {
  display: flex;
  flex-wrap: nowrap;

  overflow-x: scroll;
  margin: 12px 0;
}

.mobile-company-logos-slider::-webkit-scrollbar {
  display: none;
}

.mobile-company-logos-img {
  width: 140px;
  height: 56px;

  margin: 0 10px;
}


// ================================================================================== //

// Media queries
@media only screen and (max-width: 1600px) {
  .header {
    height: 700px;
  }

  .header-right-slider-container {
    margin-top: 490px;
  }

  .header-left-paragraph {
    margin-top: 110px;
    font-size: 150%;
    line-height: 40px;
  }

  .header-left-download-btn-container {
    margin-top: 170px;
  }
}

@media only screen and (max-width: 1400px) {
  .header {
    height: 600px;
  }

  .header-right-slider-container {
    margin-top: 400px;
  }

  .header-left-paragraph {
    margin-top: 70px;
    font-size: 90%;
    //line-height: 30px;
  }

  .header-left-download-btn-container {
    margin-top: 115px;
  }
}


@media only screen and (max-width: 1300px) {
  .header-left-paragraph {
    //font-size: 160%;
    //line-height: 25px;
  }

  .header-left-download-btn-container {
    p {
      font-size: 90%;
    }

    a {
      font-size: 16px;
    }
  }

  .header-right-images-container {
    img {
      width: 100px;
      height: 70px;
    }
  }

  .section-description-header-container {
    width: 85%;
  }

  .section-description-form-container {
    width: 85%;
  }

  .section-description {
    height: 230px;
  }

  .section-form-container {
    height: 230px;
  }

  .section-description {
    P {
      font-size: 11px;
    }
  }

  .footer-address-mail {
    width: 55%;

    p {
      font-size: 12px;
    }
  }

  .copyright {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    height: 450px;
  }

  .header-right-slider-container {
    margin-top: 260px;
  }

  .header-left-paragraph {
    margin-top: 20px;
    font-size: 80%;
    line-height: 20px;
  }

  .header-left-download-btn-container {
    margin-top: 40px;

    p {
      width: 27.58%;
      font-size: 80%;
    }

    a {
      width: 30%;
      height: 35px;

      font-size: 10px;
    }

    img {
      width: 10px;
      height: 10px;
    }
  }

  .header-right-images-container {
    img {
      width: 70px;
      height: 45px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .section-description-location {
    h4 {
      font-size: 14px;
    }
  }

  .section-form-header {
    h4 {
      font-size: 14px;
    }
  }

  .section-description-header-container {
    width: 85%;
  }

  .section-description-form-container {
    width: 85%;
  }

  .section-description {
    height: 230px;
  }

  .section-form-container {
    height: 230px;
  }

  .section-description {
    P {
      font-size: 9px;
    }
  }

  .section-description-header-learn-more-btn {
    width: 15%;

    font-size: 11px;
    height: 45px;

    img {
      width: 12px;
      height: 12px;
    }
  }

  .footer-address-mail {
    width: 70%;

    p {
      font-size: 9px;
    }
  }
}

@media only screen and (max-width: 850px) {

  .header-left-download-btn-container {
    margin-top: 40px;

    p {
      width: 35.58%;
      font-size: 50%;
    }

    a {
      width: 42%;
      margin-bottom: 5px;
      font-size: 9px
    }

    img {
      width: 9px;
      height: 9px;
    }
  }

  .header-left-download-btn {
    font-size: 8px;
  }
}

@media only screen and (max-width: 550px) {
  .header {
    display: none;
  }

  .mobile-header {
    display: block;
  }

  .mobile-header-description-container {
    p {
      text-align: left;
      width: 90%;
      font-size: 10px;
    }
  }

  .mobile-header-social-links {
    a {
      text-decoration: none;
    }

    img {
      width: 22px;
      height: 22px;

      color: #fff;
      filter: brightness(0) invert(1);
    }
  }

  .section {
    display: none;
  }

  .section-mobile {
    display: block;
    width: 350px;

    position: relative;
    margin-bottom: 60px;
  }

  .section-mobile-slider-container {
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }

  .section-mobile-slider {
    display: flex;
    flex-wrap: nowrap;

    width: 350px;
    border-radius: 8px;
  }

  .section-mobile-image-container {
    width: 350px;
    height: fit-content;

    border-radius: 8px;
    scroll-snap-align: start;
  }

  .section-mobile-image {
    width: 350px;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }

  .section-mobile-slider-header {
    position: absolute;
    top: 0;
    left: 0;

    color: #fff;
    font-size: 13px;
    margin-left: 10px;
  }

  .section-mobile-slider-download {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 13px;

    a {
      text-decoration: none;
      color: #fff;
      margin-right: 10px;
    }
  }


  .section-mobile-info {
    position: relative;

    transform: translateY(-20px);

    background-color: hsla(0, 0%, 100%, 0.95);
    box-shadow: 0 14px 28px 0 rgba(57, 57, 57, 0.18);

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .section-mobile-info-location-description-container {
    height: 72px;
    overflow-y: hidden;
    transition: all 0.5s ease;

    padding-top: 5px;

    p {
      white-space: pre-wrap;
      margin: 0 15px;
      margin-top: 5px;
      font-size: 12px;
      color: rgb(116 116 116);
    }
  }

  .section-mobile-location {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: bold;

    margin-left: 14px;
    color: rgb(116, 116, 116);

    img {
      width: 14px;
      height: 14px;

      margin-right: 5px;
      margin-top: 1px;
    }
  }

  .section-mobile-info-extend-btn {
    width: 100%;

    position: absolute;
    top: 100%;

    border: none;
    outline: none;

    height: 35px;

    background-color: rgb(235, 235, 235);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    color: #000;
    cursor: pointer;
  }

  .mobile-section-slider-arrow-back {
    position: absolute;
    top: 50px;
    left: 3%;
    color: #fff;
    font-weight: bold;
  }

  .mobile-section-slider-arrow-forward {
    position: absolute;
    top: 50px;
    right: 3%;
    color: #fff;
    font-weight: bold;
  }

  .section-mobile-form-container {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(57, 57, 57, 0.18);
    padding-top: 15px;
    margin-top: 30px;

    overflow: hidden;

    border-radius: 8px;

    height: 60px;

    transition: all 0.5s ease;
  }

  .section-mobile-form {
    width: 90%;
    margin: 0 5% 0 5%;

    input {
      width: 100%;
      height: 47px;
      margin: 5px 0;

      padding-left: 3px;

      background-color: #fff;
      outline: none;

      border: solid 1px #e8ebfa;
      border-radius: 8px;

      &:focus {
        border: solid 1px #c1caf9;
      }
    }
  }

  .section-mobile-send-form-extend-btn {
    width: 100%;
    height: 35px;

    border: none;
    outline: none;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    transform: translateY(-5px);

    cursor: pointer;

    background-image: linear-gradient(
      180deg,
      rgb(210, 171, 101) 0%,
      rgb(139, 98, 23) 72%,
      rgb(141, 100, 27) 100%
    );
    color: #fff;
  }

  .section-mobile-send-form-btn {
    width: 80%;
    height: 35px;

    border: none;
    outline: none;

    border-radius: 8px;
    cursor: pointer;

    margin-left: 50%;
    transform: translateX(-50%) translateY(-50%);

    color: #fff;

    background-image: linear-gradient(
      180deg,
      rgb(210, 171, 101) 0%,
      rgb(139, 98, 23) 72%,
      rgb(141, 100, 27) 100%
    );
  }

  .section-mobile-send-contacts {
    width: 90%;
    height: 60px;

    margin: 0 5%;

    font-size: 14px;
    font-weight: bold;

    color: rgb(116, 116, 116);
  }

  .section-mobile-send-contact-icon {
    display: flex;
    align-items: center;

    img {
      width: 14px;
      height: 14px;

      margin-right: 5px;
      margin-top: 1px;
    }
  }

  .footer-address-mail-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 85px;

    span {
      display: none;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      width: 80%;
      font-size: 12px;
    }
  }

  .copyright {
    p {
      font-size: 12px;
    }
  }

  .logos-container {
    width: 85%;
    height: 150px;

    overflow-x: hidden;
    scroll-behavior: smooth;

    img {
      width: 100px;
      height: 50px;
      object-fit: contain;
    }
  }

  .company-logos-back {
    left: 3px;
    background-color: transparent;
  }

  .company-logos-forward {
    right: 3px;
    background-color: transparent;
  }

  .company-logos-slider {
    height: 100px;
    margin-bottom: 0;
  }

  .footer {
    display: none;
  }

  .footer-mobile {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 178px;

    margin-top: 80px;
  }

  .footer-mobile-address-mail-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 103px;

    background-image: linear-gradient(
      90deg,
      rgb(76, 77, 79) 0%,
      rgb(97, 97, 97) 9%,
      rgb(29, 29, 29) 71%,
      rgb(5, 8, 14) 100%
    );
  }

  .footer-mobile-address {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    height: 50%;

    color: rgb(186 186 186);

    p {
      margin: 0;
      font-size: 12px;
    }

    img {
      width: 14px;
      height: 14px;
      margin-right: 20px;
    }
  }

  .footer-mobile-mail {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    height: 50%;

    color: rgb(186 186 186);

    p {
      margin: 0;
      font-size: 12px;
    }

    img {
      width: 14px;
      height: 14px;
      margin-right: 20px;
    }
  }

  .footer-mobile-copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 75px;

    background-color: #000;
    color: rgb(167 167 167);

    p {
      font-size: 10px;
      margin: 0;
    }
  }

  .mobile-company-logos-slider-container {
    display: block;
  }


  .company-logos-slider {
    display: none;
  }
}
