<main class="main-container">
  <div class="content">
    <div class="table">
      <h1>Update Header</h1>

      <a href="/api/subscriber/export" (click)="downloadExcel()"
        >Download Pdf</a
      >

      <form *ngIf="form" [formGroup]="form" class="form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description Geo</mat-label>
          <textarea formControlName="description" matInput></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description Eng</mat-label>
          <textarea formControlName="descriptionEng" matInput></textarea>
        </mat-form-field>

        <div *ngIf="headerInfo" class="images-container">
          <div
            [ngClass]="{ 'margin-right-4': i < 3 }"
            *ngFor="let image of headerInfo.images; let i = index">
            <img src="{{ image.image }}" alt="" />
            <span
              (click)="deleteImage(image.id)"
              class="material-symbols-outlined">
              delete
            </span>
          </div>
        </div>

        <div class="upload">
          <label for="images">Images</label>
          <input
            (change)="onImageSelected($event)"
            formControlName="images"
            type="file"
            multiple />
          <span *ngIf="form.get('images')?.hasError('limitation')" class="error"
            >შესაძლებელია მაქსიმუმ ოთხი ფოტოს ატვირთვა</span
          >
        </div>

        <div *ngIf="headerInfo" class="pdf-file-names">
          <div *ngFor="let file of headerInfo.files" class="pdf-file-name">
            <p>{{ file.file }}</p>
            <span
              (click)="deleteFile(file.id)"
              class="material-symbols-outlined">
              delete
            </span>
          </div>
        </div>

        <div class="upload">
          <label for="files">Files</label>
          <input
            (change)="onPdfSelected($event)"
            formControlName="files"
            type="file"
            multiple />
          <span *ngIf="form.get('files')?.hasError('limitation')" class="error"
            >შესაძლებელია მაქსიმუმ ორი PDF ფაილის ატვირთვა</span
          >
        </div>

        <button
          [disabled]="!form.valid"
          (click)="onUpdateHeader()"
          class="update-header-btn">
          {{ headerInfo ? 'Update Header' : 'Add Header' }}
        </button>
      </form>
    </div>
  </div>
</main>
