<main class="main-container">
  <div class="content">
    <div class="table">
      <h1>Update Header</h1>

      <form *ngIf="form" [formGroup]="form" class="form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description Geo</mat-label>
          <textarea formControlName="description" matInput></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description Eng</mat-label>
          <textarea formControlName="descriptionEng" matInput></textarea>
        </mat-form-field>

        <div class="images-container">
          <img
            *ngFor="let image of headerInfo.images"
            src="{{ image }}"
            alt="" />
        </div>

        <div>
          <label for="images">Images</label>
          <input (change)="onImageSelected($event)" type="file" multiple />
        </div>

        <div>
          <label for="files">Files</label>
          <input (change)="onPdfSelected($event)" type="file" multiple />
        </div>

        <button (click)="onUpdateHeader()" class="update-header-btn">
          {{ headerInfo ? 'Update Header' : 'Add Header' }}
        </button>
      </form>
    </div>
  </div>
</main>
