<div class="main-container">
  <header class="header">
    <div class="header-left-container">
      <div class="header-left-content">
        <img
          class="header-left-logo"
          src="../../assets/images/logo.png"
          alt="logo" />

        <p class="header-left-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
          consequatur rerum!
        </p>

        <div class="header-left-info">
          <p>Look up for more information here:</p>

          <button>Download PDF</button>
        </div>
      </div>
    </div>

    <div class="header-right-container">
      <div class="header-right-info">
        <button class="">Learn More</button>

        <div class="icons"></div>

        <select
          class="language"
          name="language"
          id="language">
          <option>Eng</option>
          <option>Geo</option>
        </select>
      </div>
    </div>
  </header>
  <main></main>
  <footer></footer>
</div>
