<div class="main-container">
  <div class="content">
    <div class="form-container">
      <h1>Add Section</h1>
      <form *ngIf="this.form" [formGroup]="form">
        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>Name Geo</mat-label>
          <input formControlName="name" matInput value="name" />
        </mat-form-field>

        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>Title Geo</mat-label>
          <input formControlName="title" matInput value="title" />
        </mat-form-field>

        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>City Geo</mat-label>
          <input formControlName="city" matInput value="city" />
        </mat-form-field>

        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>Country Geo</mat-label>
          <input formControlName="country" matInput value="country" />
        </mat-form-field>

        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>Description Geo</mat-label>
          <input formControlName="description" matInput value="description" />
        </mat-form-field>

        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>Name Eng</mat-label>
          <input formControlName="nameEng" matInput value="nameEng" />
        </mat-form-field>

        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>Title Eng</mat-label>
          <input formControlName="titleEng" matInput value="titleEng" />
        </mat-form-field>

        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>City Eng</mat-label>
          <input formControlName="cityEng" matInput value="cityEng" />
        </mat-form-field>

        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>Country Eng</mat-label>
          <input formControlName="countryEng" matInput value="countryEng" />
        </mat-form-field>

        <mat-form-field class="example-full-width full-width" appearance="fill">
          <mat-label>Description Eng</mat-label>
          <input
            formControlName="descriptionEng"
            matInput
            value="descriptionEng" />
        </mat-form-field>

        <div class="images-and-upload-container">
          <div *ngIf="sectionId" class="images-container">
            <div
              class="image-container"
              [ngClass]="{ 'margin-right-4': i < 3 }"
              *ngFor="let image of section.images; let i = index">
              <img src="{{ image.image }}" alt="" />
              <span
                (click)="deleteImage(image.id)"
                class="material-symbols-outlined">
                delete
              </span>
            </div>
          </div>

          <div class="upload-image-container">
            <label for="images">Images</label>
            <input type="file" (change)="onImageSelected($event)" multiple />
          </div>
        </div>

        <div class="pdf-container">
          <div *ngIf="section" class="pdf-file-names">
            <div class="pdf-file-name">
              <p>{{ section.file }}</p>
              <span (click)="deleteFile()" class="material-symbols-outlined">
                delete
              </span>
            </div>
          </div>

          <div class="upload-image-container">
            <label for="file">PDF</label>
            <input type="file" (change)="onPdfSelected($event)" />
          </div>
        </div>

        <button (click)="onCreateSection()" type="button">
          {{ sectionId ? 'Update Section' : 'Create Section' }}
        </button>
      </form>
    </div>
  </div>
</div>
