.main-container {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.content {
  width: 55%;
  margin-left: 30%;
}

.form-container {
  h1 {
    font-weight: bold;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: 85vh;

    background-color: #fff;
    border-radius: 8px;
  }
}

.full-width {
  width: 45%;
}

form {
  width: 60%;
}

.upload-filed-container {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  height: 30px;

  margin-top: 20px;
  color: #fff;

  background-color: #4f46e5;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #453ce3;
  }
}

.pdf-container {
  margin-top: 10px;
}

.images-container {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin-top: 20px;

  .image-container {
    position: relative;
    width: 22%;
    height: 100px;
  }
  img {
    width: 100%;
    height: 100px;

    object-fit: cover;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;

    color: white;
    cursor: pointer;
  }
}

.margin-right-4 {
  margin-right: 4%;
}

.upload-image-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.pdf-file-names {
  width: 100%;
  margin-top: 50px;
}

.pdf-file-name {
  display: flex;

  font-size: 14px;
}

span {
  cursor: pointer;
}
