<div class="main-container">
  <div class="content">
    <div class="form-container">
      <form *ngIf="this.form" [formGroup]="form">
        <div>
          <label for="name">Name Geo</label>
          <input type="text" formControlName="name" />
        </div>

        <div>
          <label for="title">Title Geo</label>
          <input type="text" formControlName="title" />
        </div>

        <div>
          <label for="city">City Geo</label>
          <input type="text" formControlName="city" />
        </div>

        <div>
          <label for="country">Country Geo</label>
          <input type="text" formControlName="country" />
        </div>

        <div>
          <label for="description">Description Geo</label>
          <input type="text" formControlName="description" />
        </div>

        <div>
          <label for="nameEng">Name Eng</label>
          <input type="text" formControlName="nameEng" />
        </div>

        <div>
          <label for="titleEng">Title Eng</label>
          <input type="text" formControlName="titleEng" />
        </div>

        <div>
          <label for="cityEng">City Eng</label>
          <input type="text" formControlName="cityEng" />
        </div>

        <div>
          <label for="countryEng">Country Eng</label>
          <input type="text" formControlName="countryEng" />
        </div>

        <div>
          <label for="descriptionEng">Description Eng</label>
          <input type="text" formControlName="descriptionEng" />
        </div>

        <div>
          <label for="images">Images</label>
          <input type="file" (change)="onImageSelected($event)" multiple />
        </div>

        <div>
          <label for="file">PDF</label>
          <input type="file" (change)="onPdfSelected($event)" />
        </div>

        <button (click)="onCreateSection()" type="button">
          Create Section
        </button>
      </form>
    </div>
  </div>
</div>
